.form {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 80vw;
  margin: auto;
  border-radius: 20px;
  &-input,
  &-button {
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 20px;
  }
  &-input {
    &:hover {
      background-color: darken(white, 10%);
    }
  }
  &-button {
    background-color: #bae6ff;
    &:hover {
      cursor: pointer;
      background-color: darken(#bae6ff, 10%);
    }
  }
}
